/* General reference of style*/
:root {
    --black: 
  rgba(0, 0, 0, 1);
      --background-blue: 
  rgba(0, 73, 112, 1);
  --highlight:
  #31B5FF;
    --allports-2: 
  rgba(0, 111, 173, 1);
  --light_blue:
  #A2BCCC;    
    --woodsmoke: 
  rgba(16, 16, 16, 1);
    --highsaturated-blue: 
  rgba(49, 60, 202, 1);
  --bright-blue:
  #6BCCF2;
  --white:
  #F2F2F2;
    --dove-gray: 
  rgba(112, 112, 112, 1);
  
    --font-size-xs: 13px;
    --font-size-s: 16px;
    --font-size-m: 20px;
    --font-size-l: 32px;
    --font-size-h: 55px;
  
    --font-family-cardo: "Cardo";
    --font-family-inkfree: "InkFree-Regular";
    --font-family-maven_pro: "Maven Pro";
  }
  /* end of general reference of style*/


  /*transparency and blend of background image and colour*/
body{
  background-color: #1C2427;
  background-size:contain;
  width: 100%;
  height: 3000px;
  background-position-y: 110px;
}


/*first section link and current page*/
main .first section link ,a{
  color: #6BCCF2;
  padding: 5%;
  text-align: center;
}

/*first section link style*/
.centered a{
  text-decoration: underline;
}

/* guitar image background in first section*/
.background-image{
  opacity: 50%;
  margin-top: -25%;
}

/* background guitar image croping*/
.background {
  position: relative;
  text-align: center;
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin: 0%;
}
 
/* centering link above background guitar image*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6BCCF2;
}
/*end of first section*/







/* second section format and background*/
.second-section{
  margin: 0%;
  background-color: #323B41;
  position: relative;
  top: 0px;
  display: flex;
}

/* filter on the left side (include sort by) */
.filter-placeholder{
  width: 100%;
  height: 1050px;
  background-color: #757777;
}

/* sort by functioning */
label, #sort, .sort-by{
  color: #f2f2f2c6;
  background-color: #323B41;
}

/* sort by position */
.sort-by{
  position: relative;
  text-align: left;
  padding-left: 10%;
  padding-top: 15%;
}

/*layout of whole product list grid*/
.grid-container {
  width: 92%;
  margin-left: 3.1%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3,3fr);
  column-gap: 4.5%;
  row-gap: 4%;
}

/*aligning image and product info*/
.grid-item{
  text-align: center;
}

/*responsive*/
@media (max-width: 1100px) {

  /*altering grid column when displayed on smaller screen*/
  .grid-item {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-container {
    width: 80%;
    margin-left: 7%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 5%;
    row-gap: 3%;
  }

  /*limit product number*/
  .grid-container :nth-child(n+4){
    display: none;
  }

  /*filter position changed*/
  .second-section{
    margin: 0%;
    background-color: #323B41;
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
  }

  /*filter height changed*/
  .filter-placeholder{
    width: 100%;
    height: 100px;
    background-color: #757777;
  }

  /*repositioning of sort by on smaller screen*/
  .sort-by{
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
  }
}


/*resizing and round edge of guitar image*/
.product-image{
  width: 100%;
  padding: 5% 2% 5% 2%;
  background-color: #757777;
  border-radius: 10px;
  margin: 0%;
  cursor: pointer;
}


/*hover over effect of item*/
.container {
  position: relative;
}

/*darker when hover over*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 104%;
  height: 97.6%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.459);
}

/*layer image backward*/
.forth-section img {
  position: absolute;
  width: 30%;
  left: 0;
}

/*format of view btn, not displaying first*/
.button {
  position: absolute;
  width: 300px;
  left:40px;
  top: 72px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

/*display when hover*/
.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.container:hover .button {
  opacity: 1;
}

/*making product name easier to click*/
#product-name, #product-price{
  padding-top: 1%;
  padding-bottom: 1%;
}

/*hover over effect of product name*/
#product-name:hover{
  cursor: pointer;
  color: #f2f2f276;
  text-shadow: #000000;
}

/*aligning product name and price on same line*/
.price-and-name{
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  color: #f2f2f2de;
}

/*aligning product description and add button on same line*/
.product-info .product-description{
  text-align: left;
  display: flex;
  justify-content: space-between;
  color: #f2f2f2c0;
  font-weight: 200;
  position: relative;
  top: -25px;
}

/*format and repositioning of add button*/
.add {
  font-family:var(--font-family-maven_pro);
  color: #F2F2F2;
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(#6D8A9A,#0A6497); 
  cursor: pointer; /* Add a mouse pointer on hover */
  padding:  40% 120%; 
  font-size: 13px; 
  text-decoration: none;
  position: relative;
  right: 38px;
  top: 30%;
}

/*refining responsive layout in smaller screen*/
.add-placeholder{
  padding-left: 10%;
  width: 5%;
}

/* opacity changes when hover over on add button*/
.add:hover {
  opacity: 50%;
  box-shadow: 50px #000000;
} 

.pagination{
  text-align: center;
  margin-top: 8%;
  margin-bottom: 5%;
}
/*end of section 2 product list*/

/* The Modal (background) */
.modal {
  text-align: center;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  margin-top: 5%;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.successful{
  width: 40%;
}

.modal-button1 {
  margin-top: 3%;
  border: 1px solid #006FAD;
  border-radius: 10px;
  background-color: #D5E2ED; 
  cursor: pointer; /* Add a mouse pointer on hover */
  padding:  2% 15%; 
  font-size: 13px; 
  text-decoration: none;
}

.modal-link1{
  color: #006FAD;
}

.modal-button2 {
  margin-top: 3%;
  border: none;
  border-radius: 10px;
  background-color: #006FAD; 
  cursor: pointer; /* Add a mouse pointer on hover */
  padding:  4% 19%; 
  font-size: 13px; 
  text-decoration: none;
}


.modal-link2{
  color: #F2F2F2;
}

/* opacity changes when hover over on add button*/
.modal-button1:hover {
  opacity: 50%;
} 

.modal-button2:hover {
  opacity: 50%;
} 

.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}


/* section 3 featured product*/
 .third-section{
  width: 100%;
  background-color: #262A2C;
  margin-top: 0%;
  padding-bottom: 7%;
}

.feature_product{
  padding: 5% 10%;
  position: relative;
  top: 0px;
  padding-bottom: 7%;
}

.show1{
  position: relative;
  top: 50%;
  right: 1120%;
  width: 600%;
}

.show2{
  position: relative;
  top: 50%;
  left: 1120%;
  width: 600%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/*format of each guitar grid for feature product*/
.flex-item{
  padding: 0.5%;
  text-align: center;
}

@media (max-width: 1100px) {

  /*altering grid column when displayed on smaller screen*/
  .flex-container :nth-child(2n){
    display: none;
  }

  .f-product-image :hover{
    opacity: 50%;
  }

}

/*background for each guitar in feature product*/
.third-section article{
  background-color: #757777;
  width: 100%;
  height: 110%;
  text-align: center;
}

.feature_product h3, article p{
  color: #F2F2F2;
}

/*resizing and repositioning guitar image*/
article>img{
  width: 120%;
  margin-top: 10%;
  position: relative;
  right: 10%;
}

.p2{
  position: relative;
  bottom: 15px;
}

/*format of learn more button and read more button in section 3*/
.view , .discover{
  font-family:var(--font-family-maven_pro);
  color: aliceblue;
  border: none;
  background-color: #006dad71; 
  cursor: pointer; /* Add a mouse pointer on hover */
  padding:  3% 6%; 
  font-size: 13px; 
  text-decoration: none;
  text-transform: capitalize;
}

/* when hover over learn more button, it changes color*/
.view:hover {
opacity: 50%;
} 
/*end of section 3-feature products*/








/*section 4 recommend for you*/
.forth-section{
  width: 100%;
  background-color: #323B41;
  margin-top: 0%;
  padding-bottom: 7%;
}

.recommend-for-you{
  padding: 5% 10%;
  position: relative;
  top: 0px;
}

.recommend-for-you h3{
  color: #F2F2F2;
}


.r-flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}






/*
.container {
  position: relative;
  margin-top: 50px;
  width: 500px;
  height: 300px;
}



.forth-section img {
  position: absolute;
  width: 50%;
  left: 0;
}

.title {
  position: absolute;
  left: 13%;
  top: 45px;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.container:hover .title {
  top: 30px;
}

.forth-section .button {
  position: absolute;
  top: 90px;


  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 200px;
  padding: 8px 18px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.container:hover .button {
  opacity: 1;
}
*/




.forth-container {
  position: relative;
  margin-top: 50px;
  width: 500px;
  height: 300px;
}

.forth-img {
  position: absolute;
  width: 70%;
  left: 0;
}

.title {
  position: absolute;
  width: 500px;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.forth-container:hover .title {
  top: 90px;
}

.forth-button {
  position: absolute;
  width: 500px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.forth-button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.forth-container:hover .forth-button {
  opacity: 1;
}

/*return to page top*/
#myBtn {
  font-family:var(--font-family-maven_pro);
  color: aliceblue;
  border: none;
  background-color: #757777ec; 
  cursor: pointer; /* Add a mouse pointer on hover */
  padding:  2% 50%; 
  font-size: 13px; 
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 15%;
}

#myBtn:hover {
background-color: #7577777c; /* Add a dark-grey background on hover */
}


html{
  scroll-behavior: smooth;
}
