/* General reference of style*/
:root {
    --black: 
  rgba(0, 0, 0, 1);
      --background-blue: 
  rgba(0, 73, 112, 1);
  --highlight:
  #31B5FF;
    --allports-2: 
  rgba(0, 111, 173, 1);
  --light_blue:
  #A2BCCC;    
    --woodsmoke: 
  rgba(16, 16, 16, 1);
    --highsaturated-blue: 
  rgba(49, 60, 202, 1);
  --bright-blue:
  #6BCCF2;
  --white:
  #F2F2F2;
    --dove-gray: 
  rgba(112, 112, 112, 1);
  
    --font-size-xs: 13px;
    --font-size-s: 16px;
    --font-size-m: 20px;
    --font-size-l: 32px;
    --font-size-h: 55px;
  
    --font-family-cardo: "Cardo";
    --font-family-inkfree: "InkFree-Regular";
    --font-family-maven_pro: "Maven Pro";
  }
  /* end of general reference of style*/


  /*transparency and blend of background image and colour*/
body{
  background-color: #1C2427;
  background-size:contain;
  width: 100%;
  height: 2900px;
}
.first-section{
    background-color: #323B41;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
  }

 
/* centering checkout text*/
.centered {
  color: #6BCCF2;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

/*link and current page*/
main .second section link ,a{
    color: #4599ba;
    padding: 15%;
  }
  
  /*link style*/
  .link a{
      text-decoration: underline;
      font-weight: 100;
  }
   
  /* positioning link*/
  .link {
    position: absolute;
    top: 0%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: #4599ba;
  }
  
  .centered p{
  position: relative;
  right: 17%;
  }
  
  /*end of first section*/





  
/*section 2 main info of product*/
.second-section{
    width: 100%;
    margin-top: 0%;
    padding-bottom: 0%;
    background-color: #CED6D6;
    position: relative;
    top: 0px;

  }

  * :not(header){
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column1{
    float: left;
    width: 65%;
    margin-top: 5%;
    height: 100%; 
  }

  .column2 {
    float: left;
    width: 35%;
    margin-top: 5%;
    height: 100%; 
  }


  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .column1, .column2 {
      width: 100%;
      height: 50%; 
    }

    .column2{
      padding: 7%;
    }

    .wrapper{
        width: 100%;
    }
  }

img{
    width: 20px;
}


.wrapper hr{
    border: 1px solid #323b416f;
}

  $title: #493b76;
  
  body {
      display: flex;
      justify-content: center;
  }
  
  .wrapper {
      padding-top: 5%;
      padding-bottom: 30%;
      -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
      -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
      box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
      animation: slideUp 2000ms ease;
  }
  
  @keyframes slideUp {
      0% {
          -webkit-transform: translateY(100%);
          transform: translateY(100%);
          visibility: visible;
      }
  
      100% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
  
      }
  }
  
input{
    background-color: #F2F2F2;
    border: none;
    border-radius: 5px;
}

.container{
    margin-left: 10%;
    margin-right: 10%;
}
  
.name{
    display: flex;
    justify-content: space-between;
}

.name div{
    display: flex;
    flex-direction: column;
}


.column2{
    background-color: #BCCAD3;
    padding-bottom: 3.5%;
}

.column2 .product-image{
    width: 10%;
}

.column2 article{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    border-bottom: 1px solid #323b4167;
}

.column2 .product-price{
    color: #00415a;
    font-weight: 800;
}



.summary{
    margin-top: 10%;
    padding-left: 10%;

}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value {
  color: #111;
  float: left;
  width: 50%;
}


.price:before,
.subtotal:before,
.subtotal-value:before,
.total-value:before,
.promo-value:before {
  content: '$';
}

.subtotal {
    text-align: right;
    font-weight: bold;
  }


  .total-title, .total-value{
      font-weight: bold;
      color: #00415a;
  }


  .return{
    margin-top: 10%;
    float: left;
    width: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #006dad22;
    border: none;
    border-radius: 5px;

  }

  .payment{
      margin-top: 10%;
      float: right;
      width: 30%;
      padding-top: 1%;
      padding-bottom: 1%;
      background-color: #006FAD;
      border: none;
      border-radius: 5px;
  }

  .payment-link{
      text-align: center;
      color: #F2F2F2;
  }

  select{
    color: #f2f2f2bd;
  }


  .column1 .thank{
    padding-left: 10%;
    color: #f2f2f2ad;
  }