/* General reference of style*/
:root {
    --black: 
  rgba(0, 0, 0, 1);
      --background-blue: 
  rgba(0, 73, 112, 1);
  --highlight:
  #31B5FF;
    --allports-2: 
  rgba(0, 111, 173, 1);
  --light_blue:
  #A2BCCC;    
    --woodsmoke: 
  rgba(16, 16, 16, 1);
    --highsaturated-blue: 
  rgba(49, 60, 202, 1);
  --bright-blue:
  #6BCCF2;
  --white:
  #F2F2F2;
    --dove-gray: 
  rgba(112, 112, 112, 1);
  
    --font-size-xs: 13px;
    --font-size-s: 16px;
    --font-size-m: 20px;
    --font-size-l: 32px;
    --font-size-h: 55px;
  
    --font-family-cardo: "Cardo";
    --font-family-inkfree: "InkFree-Regular";
    --font-family-maven_pro: "Maven Pro";
  }
  /* end of general reference of style*/


  /*transparency and blend of background image and colour*/
body{
  background-color: #1C2427;
  background-size:contain;
  width: 100%;
  height: 3000px;
  background-position-y: 110px;
}


/*first section link and current page*/
main .first section link ,a{
  color: #6BCCF2;
  padding: 5%;
}

/*first section link style*/
.centered a{
    text-decoration: underline;
}
/* guitar image background in first section*/
.background-image{
  opacity: 50%;
  margin-top: -25%;
}

/* background guitar image croping*/
.background {
  position: relative;
  text-align: center;
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin: 0%;
}
 
/* centering link above background guitar image*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6BCCF2;
}

.centered p{
position: relative;
right: 17%;
}

/*end of first section*/



/*second-section*/
.second-section{
    width: 100%;
    margin-top: 0%;
    padding-bottom: 7%;
    background-color: #CED6D6;
    position: relative;
    top: 0px;
    display: flex;
    justify-content: space-between;
  }

  * :not(header){
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column1, .column2 {
    float: left;
    width: 50%;
    margin-top: 5%;
    height: 100%; 
  }

  .column2{
    padding-right: 50px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .column1, .column2 {
      width: 100%;
      height: 35%; 
    }

    .column2{
      padding: 7%;
    }
  }


/*product image and play icon*/
.product-image{
    text-align: center;
    padding: 10% 2%;
    margin-top: 2%;
    border-radius: 15px;
    position: relative;
    left: 9%;
    z-index: 1;
    width: 80%;
    background-color: #DFEFEF;
    filter: blur(2px);
  }
  
  .play-icon{
    width: 5%;
    padding: 3%;
    width: 8%;
    position:absolute;
    left: 20%;
    z-index: 9;
    margin-top: 0%;
    cursor: pointer;
    border: #1C2427 2px;
  }

  .small-image {
    width: 10%;
    background-color: #DFEFEF;
    padding:3%;
    border-radius: 5px;
  }

  .icon{
    opacity: 50%;
    width: 2%;
  }

  .image-flex{
    margin-top: 3%;
    margin-left: 12%;
    margin-right: 15%;
    display: inline-flex;
    justify-content: space-between;
  }

  .checked{
     color: #31B5FF; 
  }

.product-name{
  font-weight: bold;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.product-heading{
  display: flex;
  justify-content: left;
  align-items: center;
}

.rating{
  margin-left: 5%;
}

.original{
  font-weight: 100;
  font-size: 13px;
  margin-top: 5%;
  margin-bottom: 0px;
  color:#92b0c3;
  text-decoration: line-through;
}

.new{
  color: #025373;
  font-weight: bold;
  font-size: 32px;
  margin-top: 0px;
}

.adjustment{
  display: flex;
}

  /* color dropdown box functioning */
#color{
  color: black;
  background-color: #8BBCD4;
  padding: 1% 2%;
}

/* sort by position */
.color{
  position: relative;
  text-align: left;
}

.product-quantity { 
  background-color: #8BBCD4;
  margin-left: 5%;
  width: 100px;
  }


.add {
  font-family:var(--font-family-maven_pro);
  color: #F2F2F2;
  border: none;
  border-radius: 25px;
  background-color: #006FAD; 
  cursor: pointer; /* Add a mouse pointer on hover */
  padding:  10px 120px; 
  font-size: 13px; 
  text-decoration: none;
  position: relative;
  right: 38px;
  top: 20px;
}

/*refining responsive layout in smaller screen*/
.add-placeholder{
  padding-left: 8%;
  width: 5%;
}

/* opacity changes when hover over on add button*/
.add:hover {
  opacity: 50%;
  box-shadow: 50px #000000;
} 
