/* General reference of style*/
:root {
    --black: 
  rgba(0, 0, 0, 1);
      --background-blue: 
  rgba(0, 73, 112, 1);
  --highlight:
  #31B5FF;
    --allports-2: 
  rgba(0, 111, 173, 1);
  --light_blue:
  #A2BCCC;    
    --woodsmoke: 
  rgba(16, 16, 16, 1);
    --highsaturated-blue: 
  rgba(49, 60, 202, 1);
  --bright-blue:
  #6BCCF2;
  --white:
  #F2F2F2;
    --dove-gray: 
  rgba(112, 112, 112, 1);
  
    --font-size-xs: 13px;
    --font-size-s: 16px;
    --font-size-m: 20px;
    --font-size-l: 32px;
    --font-size-h: 55px;
  
    --font-family-cardo: "Cardo";
    --font-family-inkfree: "InkFree-Regular";
    --font-family-maven_pro: "Maven Pro";
  }
  /* end of general reference of style*/


  /*transparency and blend of background image and colour*/
body{
  background-color: #1C2427;
  background-size:contain;
  width: 100%;
  height: 3000px;
  background-position-y: 110px;
}


/*first section link and current page*/
main .first section link ,a{
  color: #6BCCF2;
  padding: 5%;
}

/*first section link style*/
.centered a{
    text-decoration: underline;
}
/* guitar image background in first section*/
.background-image{
  opacity: 50%;
  margin-top: -25%;
}

/* background guitar image croping*/
.background {
  position: relative;
  text-align: center;
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin: 0%;
}
 
/* centering link above background guitar image*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6BCCF2;
}

.centered p{
position: relative;
right: 17%;
}

/*end of first section*/



/*second-section*/
.second-section{
    width: 100%;
    margin-top: 0%;
    padding-bottom: 7%;
    background-color: #CED6D6;
    position: relative;
    top: 0px;
    display: flex;
  }

/*product image and play icon*/
.product-image{
    align-items: center;
    padding: 3% 2%;
    margin-top: 2%;
    border-radius: 15px;
    position: relative;
    left: 3%;
    z-index: 1;
    width: 40%;
    background-color: #DFEFEF;
    filter: blur(2px);
  }
  
  .play-icon{
    padding: 3%;
    width: 3%;
    text-align: center;
    position:absolute;
    right: 70%;
    bottom: 40%;
    z-index: 2;
    margin-top: 14%;
    cursor: pointer;
    border: #1C2427 2px;
  }
