/* General reference of style*/
:root {
    --black: 
  rgba(0, 0, 0, 1);
      --background-blue: 
  rgba(0, 73, 112, 1);
  --highlight:
  #31B5FF;
    --allports-2: 
  rgba(0, 111, 173, 1);
  --light_blue:
  #A2BCCC;    
    --woodsmoke: 
  rgba(16, 16, 16, 1);
    --highsaturated-blue: 
  rgba(49, 60, 202, 1);
  --bright-blue:
  #6BCCF2;
  --white:
  #F2F2F2;
    --dove-gray: 
  rgba(112, 112, 112, 1);
  
    --font-size-xs: 13px;
    --font-size-s: 16px;
    --font-size-m: 20px;
    --font-size-l: 32px;
    --font-size-h: 55px;
  
    --font-family-cardo: "Cardo";
    --font-family-inkfree: "InkFree-Regular";
    --font-family-maven_pro: "Maven Pro";
  }
  /* end of general reference of style*/


  /*transparency and blend of background image and colour*/
body{
  background-color: #1C2427;
  background-size:contain;
  width: 100%;
  height: 3000px;
  background-position-y: 110px;
}

html {
  scroll-behavior: smooth;
}

/*first section link and current page*/
main .first section link ,a{
  color: #6BCCF2;
  padding: 5%;
}

/*first section link style*/
.centered a{
    text-decoration: underline;
}
/* guitar image background in first section*/
.background-image{
  opacity: 50%;
  margin-top: -25%;
}

/* background guitar image croping*/
.background {
  position: relative;
  text-align: center;
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin: 0%;
}
 
/* centering link above background guitar image*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6BCCF2;
}

.centered p{
position: relative;
right: 17%;
}

/*end of first section*/






/*section 2 main info of product*/
.second-section{
    width: 100%;
    margin-top: 0%;
    padding-bottom: 7%;
    background-color: #CED6D6;
    position: relative;
    top: 0px;
    display: flex;
    justify-content: space-between;
  }

  * :not(header){
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column1, .column2 {
    float: left;
    width: 50%;
    margin-top: 5%;
    height: 100%; 
  }

.description{
  padding-right: 50px;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .column1, .column2 {
      width: 100%;
      height: 35%; 
    }

    .column2{
      padding: 7%;
    }
  }


/*product image and play icon*/
.second-section .product-image{
    text-align: center;
    padding: 10% 2%;
    margin-top: 2%;
    border-radius: 15px;
    position: relative;
    left: 9%;
    z-index: 1;
    width: 80%;
    background-color: #DFEFEF;
  }
  

  .small-image {
    width: 10%;
    background-color: #DFEFEF;
    padding:3%;
    border-radius: 5px;
  }

  .icon{
    opacity: 50%;
    width: 2%;
  }

  .image-flex{
    margin-top: 3%;
    margin-left: 12%;
    margin-right: 15%;
    display: inline-flex;
    justify-content: space-between;
  }

  .checked{
     color: #31B5FF; 
  }

.product-name{
  font-weight: bold;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.product-heading{
  display: flex;
  justify-content: left;
  align-items: center;
}

.rating{
  margin-left: 5%;
}

.original{
  font-weight: 100;
  font-size: 13px;
  margin-top: 5%;
  margin-bottom: 0px;
  color:#92b0c3;
  text-decoration: line-through;
}

.new{
  color: #025373;
  font-weight: bold;
  font-size: 32px;
  margin-top: 0px;
}

.second-section-hr{
  position: relative;
  bottom: 3%;
  border: 1px solid rgba(0, 0, 0, 0.205);
  margin-top: 0%;
}

.adjustment{
  display: flex;
}

  /* color dropdown box functioning */
#color{
  color: black;
  background-color: #8BBCD4;
  padding: 2% 2%;
}

/* sort by position */
.color{
  position: relative;
  text-align: left;
}

.product-quantity { 
  background-color: #8BBCD4;
  margin-left: 5%;
  width: 100px;
  }

  .quantity-field{
    background-color: #8bbcd4d3;
    border: 1px solid var(--dove-gray);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.625rem;
    width: 6.3rem;
    height: 1rem;
  }


.add {
  font-family:var(--font-family-maven_pro);
  color: #F2F2F2;
  border: 1px rgba(0, 0, 0, 0.266);
  border-radius: 25px;
  background-color: #006FAD; 
  cursor: pointer; /* Add a mouse pointer on hover */
  padding:  10px 120px; 
  font-size: 13px; 
  text-decoration: none;
  position: relative;
  right: 38px;
  top: 20px;
}

/*refining responsive layout in smaller screen*/
.add-placeholder{
  padding-left: 5%;
  width: 5%;
}

/* opacity changes when hover over on add button*/
.add:hover {
  opacity: 50%;
  box-shadow: 50px #000000;
} 

.support-payment{
  position: relative;
  left: 72%;
  bottom: 8rem;
}


.pay-last{
  width: 9%;
  opacity: 50%;
}
.pay{
  width: 7%;
  opacity: 50%;
}


/* The Modal (background) */
.modal {
  text-align: center;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  margin-top: 5%;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*tick icon in modal*/
.successful{
  width: 40%;
}

.modal-button1 {
  margin-top: 3%;
  border: 1px solid #006FAD;
  border-radius: 10px;
  background-color: #D5E2ED; 
  cursor: pointer; /* Add a mouse pointer on hover */
  padding:  2% 15%; 
  font-size: 13px; 
  text-decoration: none;
}

.modal-link1{
  color: #006FAD;
}

.modal-button2 {
  margin-top: 3%;
  border: none;
  border-radius: 10px;
  background-color: #006FAD; 
  cursor: pointer; /* Add a mouse pointer on hover */
  padding:  4% 19%; 
  font-size: 13px; 
  text-decoration: none;
}


.modal-link2{
  color: #F2F2F2;
}

/* opacity changes when hover over on add button*/
.modal-button1:hover {
  opacity: 50%;
} 

.modal-button2:hover {
  opacity: 50%;
} 

.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}
/*end of modal format*/





/*section 3 info tab*/
.third-section{
  width: 100%;
  background-color: #B6C6CF;
  padding-bottom: 7%;
}



.tabs{
  width:100%;
  height:auto;
  margin:0 auto;
}

/* tab list item */
.tabs .tabs-list{
  display: flex;
  justify-content: space-between;
  list-style:none;
  margin:0px;
  padding:0px;
}
.tabs .tabs-list li{
  width:35%;
  float:left;
  margin:0px;
  margin-right:2px;
  padding:10px 5px;
  text-align: center;
  background-color:#BFCCD3;
  border: 1px solid #707070b3;
}
.tabs .tabs-list li:hover{
  cursor:pointer;
}
.tabs .tabs-list li a{
  text-decoration: none;
  color:#0000006c;
}

/* Tab content section */
.tabs .tab{
  display:none;
  width:100%;
  min-height:250px;
  height:auto;
  border-radius:3px;
  padding:20px 5%;
  background-color:#B6C6CF;
  color:#0D0D0D;
  clear:both;
}
.tabs .tab h3{
  border-bottom:3px solid #006FAD;
  letter-spacing:1px;
  font-weight:bold;
  padding:5px;
}
.tabs .tab p{
  line-height:20px;
  letter-spacing: 1px;
}

/* When active state */
.active{
  display:block !important;
}
.tabs .tabs-list li.active{
  background-color:#89C0DA !important;
  color:black !important;
}
.active a{
  color:black !important;
}


/*review tab*/
.fa {
  font-size: 25px;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f170;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04aa6dd4;}
.bar-4 {width: 30%; height: 18px; background-color: #2195f3c7;}
.bar-3 {width: 10%; height: 18px; background-color: #00bbd4cf;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9900d3;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336d4;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}


/*end of section 3 info tab*/






/*section 4 support */
.forth-section{
  width: 100%;
  background-color: #323B41;
  padding-bottom: 7%;
}

.support{
  padding: 5% 10%;
  position: relative;
  top: 0px;
  color: #F2F2F2;
}


.support-icon{
  float: left;
}

.support-icon{
  width: 120px;
}

.support-text{
  float: right;
}

.forth-section .column1, .column2{
  padding-right: 5%;
}

.section-break{
  position: relative;
  bottom: 3%;
  border: 1px solid #A2BCCC;
  margin-top: 0%;
}




/*section 5layout of whole product list grid*/

.recently-viewed{
  position: relative;
  width: 30px;
  top: 0.3rem;
  padding-right: 10px;

}

.recent-heading{
  padding: 5% 10%;
  position: relative;
  top: 0px;
  color: #F2F2F2;
}

.grid-container {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  grid-template-columns: repeat(3,3fr);
  column-gap: 4.5%;
  row-gap: 4%;
}

/*aligning image and product info*/
.grid-item{
  text-align: center;
}

/*responsive*/
@media (max-width: 1100px) {

  /*altering grid column when displayed on smaller screen*/
  .grid-item {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-container {
    width: 100%;
    padding-left: 10%;
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 5%;
    row-gap: 3%;
  }

  /*limit product number*/
  .grid-container :nth-child(n+4){
    display: none;
  }

  /*filter position changed*/
  .fifth-section{
    margin: 0%;
    background-color: #323B41;
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
  }
}


/*resizing and round edge of guitar image*/
.fifth-section .product-image{
  width: 100%;
  padding: 5% 2% 5% 2%;
  background-color: #757777;
  border-radius: 10px;
  margin: 0%;
  cursor: pointer;
}


/*hover over effect of item*/
.container {
  position: relative;
}

/*darker when hover over*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98.6%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.459);
}


/*format of view btn, not displaying first*/
.button {
  position: absolute;
  width: 300px;
  left:40px;
  top: 72px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

/*display when hover*/
.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.container:hover .button {
  opacity: 1;
}

/*making product name easier to click*/
#product-name, #product-price{
  padding-top: 1%;
  padding-bottom: 1%;
}

/*hover over effect of product name*/
#product-name:hover{
  cursor: pointer;
  color: #f2f2f276;
  text-shadow: #000000;
}

/*aligning product name and price on same line*/
.price-and-name{
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}

.price-and-name :first-child{
  color: #f2f2f2de;
}

.price-and-name :last-child{
  color: #31B5FF;
}

/*format of return to top*/
/*return to page top*/
#myBtn {
  font-family:var(--font-family-maven_pro);
  color: aliceblue;
  border: none;
  background-color: #757777ec; 
  cursor: pointer; /* Add a mouse pointer on hover */
  padding:  2% 50%; 
  font-size: 13px; 
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 10%;
}

#myBtn:hover {
background-color: #7577777c; /* Add a dark-grey background on hover */
}
